{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">



<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">



<style>
  /* Indent all content everywhere, no matter the wrapper */
  main, article, .page__content, .page-content, .single-content, .post__content, .entry-content, .wrap, .site-main {
      margin-left: 20px !important;
      padding-left: 20px !important;
      margin-top: 20px !important;
  }
  </style>