.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 30px;
}
.page__content {
    margin-left: 40px !important;
    margin-top: 36px !important;
}